
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>添加合同</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/Content/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/Content/css/public.css" media="all">
    <link rel="stylesheet" href="/Content/js/lay-module/step-lay/step.css" media="all">
    <script src="/Content/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="/Content/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <script>
        layui.use(['form', 'laydate', 'step'], function () {
        var $ = layui.$,
            form = layui.form,
            laydate = layui.laydate,
            step = layui.step;

        //日期
        laydate.render({
            elem: '#JoinDate'
         });
        laydate.render({
            elem: '#LeaveDate'
        });
        laydate.render({
            elem: '#ConBeginDate'
        });
        laydate.render({
            elem: '#ConEndDate'
        });

        

            $("#btnAdd").click(function () {
            var o = new Object();
                o.ID = $("#ID").val();
                o.JoinDate = $("#JoinDate").val();
                o.LeaveDate = $("#LeaveDate").val();
                o.ConBeginDate = $("#ConBeginDate").val();
                o.ConEndDate = $("#ConEndDate").val();
                o.ConRemake = $("#ConRemake").val();
                $.post("/LabourArea/Contract/AddAnnouncer",o, function (d) {
                if (d == "Success") {
                    //layer.msg("添加成功！");
                    var index = layer.alert("添加成功！", {
                        title: '最终的提交信息'
                    }, function () {
                        // 关闭弹出层
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);
                        parent.location.reload();
                    });
                }
                else {
                    layer.msg("添加失败！");
                }
            });
        });

       
    })
    </script>
</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <form class="layui-form" action="" lay-filter="example">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户ID</label>
                    <div class="layui-input-block">
                        <input type="text" id="ID" name="ID" lay-verify="title" autocomplete="off" placeholder="请输入用户ID" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">JoinDate</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请填写JoinDate日期" value="" id="JoinDate" name="JoinDate" lay-verify="date" autocomplete="off" class="layui-input" required>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">LeaveDate</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请填写LeaveDate日期" value="" id="LeaveDate" name="LeaveDate" lay-verify="date" autocomplete="off" class="layui-input" required>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">ConBeginDate</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请填写ConBeginDate日期" value="" id="ConBeginDate" name="ConBeginDate" lay-verify="date" autocomplete="off" class="layui-input" required>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">ConEndDate</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请填写ConEndDate日期" value="" id="ConEndDate" name="ConEndDate" lay-verify="date" autocomplete="off" class="layui-input" required>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">ConRemake</label>
                    <div class="layui-input-block">
                        <input type="text" id="ConRemake" name="ConRemake" lay-verify="title" autocomplete="off" placeholder="请输入ConRemake" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        @*<button class="layui-btn" lay-submit="" lay-filter="step">立即提交</button>*@
                        <input class="layui-btn" id="btnAdd" value="立即提交" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
